# Veri Bilmi Ã–devi- Numpy ve Pandas UygulamalarÄ±

ðŸ“˜ Veri Bilimi Ã–devi â€“ Numpy ve Pandas UygulamalarÄ±
1. Numpy BÃ¶lÃ¼mÃ¼

AÅŸaÄŸÄ±daki adÄ±mlarÄ± uygulayÄ±n:

1.1. Numpy ile Matris Ä°ÅŸlemleri

5x5 boyutunda rastgele (0-100 arasÄ±nda) tam sayÄ±lardan oluÅŸan bir matris oluÅŸturun.

Bu matrisin:

Ortalama, standart sapma ve varyansÄ±nÄ± hesaplayÄ±n.

En bÃ¼yÃ¼k ve en kÃ¼Ã§Ã¼k deÄŸerlerini bulun.

KÃ¶ÅŸegenindeki elemanlarÄ±n toplamÄ±nÄ± bulun.

In [4]:
import numpy as np
import pandas as pd

In [14]:
matris=np.random.randint(0,100,25).reshape(5,5)
matris

array([[20, 80, 48,  4, 55],
       [ 3, 94, 76, 84, 63],
       [98, 13, 98, 72, 48],
       [52, 89, 61, 87, 83],
       [37, 64, 68, 90, 70]])

In [15]:
matris.mean()

62.28

In [16]:
matris.std()

27.985024566721393

In [17]:
matris.var()

783.1615999999999

In [18]:
matris.max()

98

In [19]:
matris.min()

3

In [22]:
sum(np.diag(matris))

369

1.2. Numpy ile Veri SimÃ¼lasyonu

1000 adet Ã¶ÄŸrencinin sÄ±nav puanlarÄ±nÄ± (0-100 arasÄ±, normal daÄŸÄ±lÄ±mdan gelen) simÃ¼le edin.

Ortalama, medyan ve standart sapmayÄ± hesaplayÄ±n.

50â€™den dÃ¼ÅŸÃ¼k alan kaÃ§ Ã¶ÄŸrenci olduÄŸunu bulun.

In [27]:
ogrenciler=np.random.randint(0,101,1000)
ogrenciler

array([ 99,  16,  99,  64,  84,  97,  84,  73,  60,  20,  54,  83,  90,
        66,  77,  35,  71,  13,  27,  52,  36,  24,   7,  63,  73,  45,
        55,  47,  90,  56,  64,  41,  96,  73,  50,  58,  17,  14,   4,
        85,  97,  36,  97,  29,  51,  80,  85,  53,   2,  42,  16,  62,
        19,  87,  50,  19,  34,  60,  60,  17,  80,  67,  14,  60,  43,
        81,  66,  38,  16,  27,  25,  46,  20,  29,  48,  70,  98,  98,
        29,  53,  56,  86,  59,  73,  47,   7,  83,   7,  73,  45,  38,
         6,  61,  81,  14,   1,   9,  77,  61,  50,  61, 100,  92,  53,
        58,  71,  86,   3,  92,  82,  24,   1,  21,  39,  57,  29,  21,
        85,  14,  90, 100,  93,  31,  32,  67,  68,   8,  84,  46,  16,
        89,  14,  97,   9,  74,  60,  54,  80,  92,   7,   9,  71,  11,
        87,  28,   8,  30,  43,  54,  77,  25,  52,  71,  63,  75,  35,
        19,  28,  99,  99,  74,  51,   1,  57,  99,  47,  61,  25,  77,
        28,  81,  44,   1,   0,  88,  24,  28,  83,  47,  94,  89,  96,
        64,  41,  80,  64,  28,  32,  15,  96,  82,  32,  41,   7,  36,
        49,  12,  31,  41,  14,  95,  45,  77,  60,   5,  51,  74,  25,
        57,  95,  12,  84,   0,  51,  40,  42,  35,  33,  32,  90,  30,
        22,  16,  31,  33,  67,  76,  77,  99,   9,   4,   0,  49,  78,
        41,  49,  14,   9,  96,  27,  17,  49,  84,  57,  98,  56,  42,
        46,  21,  67,  82,  19,  89,  40,  56,  49,  24,  41,  65,  56,
        96,  86,  26,  38,  57,  99,  10,  71,   8,   6,  63,  67,  16,
        90,  86,  99,  31,   3,  68,  32,  46,  41,  94,  29,  87,  75,
        67,  93,  61,   7,  13,  99,   0,  68,  84,  88,  22,  64,  32,
        91,  25,  81,   5,  36,  37,  58,   3,  83,   8,  57,  72,  18,
        17,  92,  98,   1,  68,  38,  57,  79,  84,  81,  28,  53,  24,
        67,  87,  83,  92,  31,  78,  17,  98,  33,   7,  43,  51,  86,
        39,  52,  86,  40,  93,  58,  47,  14,  39,  86,  55,  41,  17,
        71,  83,  61,  21,  11,  75,   3,  41,  59,  49,  74,  37,  42,
        26,  44,  12,  58,  28,  48,  29,  21,  66,   1,  81,  97,  58,
         1,  31,  43,  54,  40,  15,   9,  58,  49,  67,  26,  64,  19,
        13,  70,  91,  92,  97,  93,  38,  19,  82,   6,  86,  45,   5,
        24,  66,  59,  41,  16,  78,  67,  97,  56,  80,  28,  89,  75,
        21,  26,  33,  37,  56,  61,  52,  44,  23,  51,  75,  69,  79,
        79,  87,  88,  73,  21,  43,  83,  80,  78,  37,  65,  67,  33,
        81,  15,  23,  12,  19,  99,  39,  31,  14,  30,  93,   6,  32,
        22,  24,  76,  93,  30,  13,  61,  56,  49,  44,  89,  21,  46,
        32,  13,  54,  33,  68,  79,  65,  15,  82,  13,  43,  59,  80,
        99,  90,  38,  19,  30,  72,  10,  30,  29,  20,  50,  53,  18,
        20,  65,  47,  33,   5,  16,  96,  60,  16,   2,  70,  28,  57,
         5,  74,  15,  84,  73,  61,  10,  56,  84,  71,  97,  69,  98,
        92,   5,  99,  46,  95,  68,  96,  24,  97,  93,  46,  29,   2,
        83,  29,  15,  99,  24,  25,  94,  35,   0,  26,  31,   7,  74,
        69,  59,  12,  76,  74,  95,  29,  71,   9,  40,  11,  42,  53,
        52,  75,  49,  73,   6,  84,   1,  38,  81,  53,  26,  43,  85,
        87,  84,  84,  92,   6,  71,   0,  68,  94,  90,  32,  87,  30,
        21,  35,   8,  47,  36,  22,  58,  25,   8,  19,  40,  43,  91,
        55,  67,   4,  44,   9,  83,   0,  65,  14,  62,  33,  54,   2,
         8,  25,  84,  26,  79,  75,  99,  37,  30,  94,  37,  54,  33,
        63,  66,  90,  59,  56,  25,  68,  65,  35,  11,  74,  17,  72,
        75,  85,  12, 100,  76,   2,  47,  42,  92,  87,  38,  23,  21,
        19,  93,  63,  66,  15,  11,  86,  25,  28,  16,  38,  57,  80,
         3,   9,  93,   2,  89,  85,  32,  46,  34,  50,  40,  59,   6,
        64,  60,  50,  67,  15,  76,  16,  55,  37,  16,  82,  97,  61,
        55,  81,   8,  67,  68,  74,  55,  15,  15,  26,  96,  82,  13,
        34,  68,  11,  59,  43,  55,  95,  69,   3,  20,  85,  41,  86,
        96,  12,  93,  94,  68,  91,  53,  41,  49,  66,  32,  96,  75,
        62,  71,  50,  47,  82,  98,  31,   7,  47,  36,  74,  37,  83,
        88,  77,  75,  86,  31,  68,  12,  15,  67,  45,  92,   5,  98,
        54, 100,  98,  58,  81,  92,  57,  86,  40,  80,  83,  78,  43,
        70,  66,  54,  19,   9,  59,  34,  67,  41,  85,  20,  63,  70,
        82,  44,  97,  10,  36,  74,  27,  38,  61,  78,  22,   1,  52,
        16,   8,  69,  58,  74,  68,  86,  53,  70,  70,   9,  43,  99,
         3,  90,  51,   5,  67,  24,  25,   1,  51,  96,  72, 100,   6,
        25,  38,  72,  23,  29,  43,  73,  81,  30,  84,  73,   0,   0,
        38,  43,  81,  59,  50,  17,  89,   3,  89,  96,  31,  27,  63,
        83,  24,  62,  66,   7,  93,  15,  18,   5,  59,  20,  17,  38,
        28,  60,  80,  68,  36,  34,  64,  73,  18,  39,  90,  43,  12,
        13,  80,  22,  66,  30,  66,  76,  21,  90,  17,  83,  51,  70,
        37,  32,  52,  91,  64,   7,  79,  82,  24,  24,  12,  28,  95,
        95,  94,  39,  69,  80,  94,  66,  61,  14,  38,  54,  24,  76,
        11,  37,  25,  16,  84,  30,  37,   2,  62,  55,   8,  90,  34,
        76,  95,  73,  40,  67,   8,  72,  19,  39,  63,  93,  69,  32,
        12,  96,  45,  97,  92,  14,  45,  77, 100,  81,  78,   0,  41,
        92,   1,  21,  46,   3,  79,  38,  35,  83,  72,  48,  55,  77,
        30,  48,  27,   3,  66,   1,  51,  74,  65,  28,  27,  52,  36,
        99,  39,  53,  59,  23,  97,  68,  10,  70,  45,  37,  91,  15,
        39,  66,  52,  12,  94,  58,  50,  35,  43,   0,  73,  86])

In [28]:
ogrenciler.mean()

50.92

In [29]:
np.median(ogrenciler)

51.5

In [30]:
ogrenciler.std()

29.12173758552192

In [34]:
len(ogrenciler[ogrenciler<50])

481

2-Pandas BÃ¶lÃ¼mÃ¼

DataFrame oluÅŸturulur.

Her dersin ortalamasÄ± bulunur.

Matematikte en yÃ¼ksek notu alan Ã¶ÄŸrenci seÃ§ilir.

Her Ã¶ÄŸrencinin ortalamasÄ± hesaplanÄ±r ve yeni sÃ¼tun eklenir.

BÃ¶lÃ¼mlere gÃ¶re ortalama baÅŸarÄ±lar hesaplanÄ±r.

Ortalama puanÄ± 70â€™in Ã¼zerinde olan Ã¶ÄŸrenciler filtrelenir.

In [36]:
data = {
    "Ã–ÄŸrenci": ["Ali", "AyÅŸe", "Mehmet", "Zeynep", "Ahmet"],
    "YaÅŸ": [20, 21, 19, 22, 20],
    "BÃ¶lÃ¼m": ["Bilgisayar", "Fizik", "Kimya", "Bilgisayar", "Fizik"],
    "Matematik": [70, 60, 80, 90, 55],
    "Fizik": [65, 75, 70, 85, 60],
    "Kimya": [80, 85, 65, 95, 70]
}

df=pd.DataFrame(data)
df

  Ã–ÄŸrenci  YaÅŸ       BÃ¶lÃ¼m  Matematik  Fizik  Kimya
0     Ali   20  Bilgisayar         70     65     80
1    AyÅŸe   21       Fizik         60     75     85
2  Mehmet   19       Kimya         80     70     65
3  Zeynep   22  Bilgisayar         90     85     95
4   Ahmet   20       Fizik         55     60     70

In [41]:
mat=df["Matematik"]
mat_ortalama=pd.DataFrame(mat)
mat_ortalama.mean()

Matematik    71.0
dtype: float64

In [44]:
fizik=df["Fizik"]
fizik.mean()

71.0

In [43]:
kim=df["Kimya"]
kim.mean()

79.0

In [45]:
mat.max()

90

In [47]:
df["Ortalama"]=df[["Matematik","Fizik","Kimya"]].mean(axis=1)
df

  Ã–ÄŸrenci  YaÅŸ       BÃ¶lÃ¼m  Matematik  Fizik  Kimya   Ortalama
0     Ali   20  Bilgisayar         70     65     80  71.666667
1    AyÅŸe   21       Fizik         60     75     85  73.333333
2  Mehmet   19       Kimya         80     70     65  71.666667
3  Zeynep   22  Bilgisayar         90     85     95  90.000000
4   Ahmet   20       Fizik         55     60     70  61.666667

In [61]:
df=df.drop("Mat BaÅŸarÄ±" ,axis=1)
df

  Ã–ÄŸrenci  YaÅŸ       BÃ¶lÃ¼m  Matematik  Fizik  Kimya   Ortalama
0     Ali   20  Bilgisayar         70     65     80  71.666667
1    AyÅŸe   21       Fizik         60     75     85  73.333333
2  Mehmet   19       Kimya         80     70     65  71.666667
3  Zeynep   22  Bilgisayar         90     85     95  90.000000
4   Ahmet   20       Fizik         55     60     70  61.666667

In [67]:
yuksek_ort=df[df["Ortalama"]>70]
pd.DataFrame(yuksek_ort["Ã–ÄŸrenci"])

  Ã–ÄŸrenci
0     Ali
1    AyÅŸe
2  Mehmet
3  Zeynep